{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Private Chat Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
  </head>
<body>

<div align="center">
    <h2>Private Chat Application</h2>
</div>

<div class="container">
    <form id="post-form" method="POST" action="checkview">
        {% csrf_token %}
        <label>Room Name</label>
        <input type="text" name="room_name" id="room_name" width="100px" />
        <label>Username</label>
        <input type="text" name="username" id="username" width="100px" />
        <input type="submit" value="Enter Room">
    </form>
</div>
</body>
</html>
